<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/mystyle.css">
    <title>500 Error</title>
</head>
<body>
<h2> Error!! Uh oh!! </h2>
<div style='position:relative; padding-bottom:calc(100.00% + 44px)'><iframe src='https://gfycat.com/ifr/WhirlwindBoldAcornweevil' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div><p><a href="https://gfycat.com/discover/dog-gifs">from Dog GIFs</a> <a href="https://gfycat.com/whirlwindboldacornweevil-flashback-worried-vietnam-scared-dog">via Gfycat</a></p></body>
</html>